<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>$title$</title>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i|Roboto:700&amp;subset=cyrillic" rel="stylesheet"> 
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header></header>
    <nav>
      <ul>
        <li><a href="index-en.html">Contacts</a></li>
        <li><a href="projects-en.html">Projects</a></li>
      </ul>
      <div id="i18n"><a href="index.html">Русская версия</a></div>
    </nav>
    <main>
      <h1>$title$</h1>
      $body$
    </main>
    <aside>
    </aside>
    <footer>
    </footer>
  </body>
</html>
