<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>$title$</title>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i|Roboto:700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@YuriyShirokov">
    <meta name="twitter:title" content="$title$">
    <meta name="twitter:description" content="$tldr$">
    <meta name="twitter:image" content="https://yashrk.github.io$snippetImage$">
  </head>
  <body>
    <header></header>
    <nav>
      <ul>
        <li><a href="/index.html">Контакты</a></li>
        <li><a href="/projects-ru.html">Проекты</a></li>
        <li><a href="/travels-ru.html">Путешествия</a></li>
      </ul>
      <div id="i18n"><a href="index-en.html">English version</a></div>
    </nav>
    <main itemscope itemtype="http://schema.org/Article">
      <h1 itemprop="name">$title$</h1>
      $body$
      <!-- schema.org -->
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="Юрий Широков">
      </span>
      <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="yashrk.github.io">
        <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
          <meta itemprop="url" content="images/capybara.jpeg">
          <meta itemprop="image" content="images/capybara.jpeg">
          <meta itemprop="width" content="100">
          <meta itemprop="height" content="100">
        </span>
      </span>
      <meta itemprop="headline" content="$title$">
      <meta itemprop="datePublished" content="$datePublished$">
      <meta itemprop="dateModified" content="$dateModified$">
      <meta itemprop="image" content="$snippetImage$">
      <meta itemprop="description" content="$tldr$">
    </main>
    <aside>
    </aside>
    <footer>
    </footer>
  </body>
</html>
