<!-- footer-ru template output -->
      <!-- schema.org -->
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <meta itemprop="name" content="Юрий Широков">
      </span>
      <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="yashrk.github.io">
        <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
          <meta itemprop="url" content="images/capybara.jpeg">
          <meta itemprop="image" content="images/capybara.jpeg">
          <meta itemprop="width" content="100">
          <meta itemprop="height" content="100">
        </span>
      </span>
      <meta itemprop="headline" content="$title$">
      <meta itemprop="datePublished" content="$published$">
      $if(modified)$
        <meta itemprop="dateModified" content="$modified$">
      $endif$
      <meta itemprop="image" content="$snippetImage$">
      <meta itemprop="description" content="$tldr$">
    </main>
    <aside>
    </aside>
    <footer>
    </footer>
  </body>
</html>
<!-- footer-ru template output finished -->
